@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color:#83e1ad;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #063d1e;
    color: white;
    text-align: center;
}

header h1{
    padding: 20px;
}

nav{
    background-color: #063d1e;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

main{
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 20px;
}

main h1{
    padding-top: 15px;
    padding-bottom: 15px;
}

main h2{
    padding-top: 10px;
    padding-bottom: 10px;
}

main p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 30px;
}
img{
    width: 100%;
}

.bug{
    width: 280px;
    display: block;
    margin: auto;
}

.blockvideo{
    background-color: #063d1e;
}

.video{
    padding: 20px;
    margin: auto;
    display: block;
}

.lista{
    padding: 20px;
    background-color: #83e1ad;
    border-radius: 10px;
    margin: 20px;
}

main > .lista > h1{
    background-color: #063d1e;
    margin: -20px -20px 0px -20px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-align: center;
} 

.lista ul{
    padding-left: 50px;
    columns: 2;
}

footer{
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #063d1e;
}
